@import '@/assets/styles/mixins';

.Header {
  display: flex;
  align-items: flex-end;
  // height: rem(115);
  background-color: transparent;
  &:global(.hasNavList) {
    height: rem(120);
  }
  &:global(.onScroll) {
    background-color: rgba(var(--color-black-rgb), 0.9);
    border-color: rgba(var(--color-cyan-rgb), 1);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .LeftZone {
      display: inline-flex;
      align-items: center;
    }
  }
}

.SideMenu {
  display: flex;
  flex-direction: column;
  margin-block-start: rem(40);
  gap: rem(56);

  .SideMenuNavigation {
    ul {
      flex-direction: column;
      li {
        svg {
          width: 100%;
          height: 100%;
        }
        a {
          font-size: rem(32);
          width: rem(181);
          height: rem(50);
        }
      }
    }
  }

  main,
  footer {
    margin-inline: auto;
    max-width: rem(390);
  }

  main {
    :global(.container) {
      display: flex;
      justify-content: center;
    }
  }

  footer {
    :global(.container) {
      .SocialList {
        display: flex;
        justify-content: center;
        inset-block-start: rem(70);
        inset-inline-end: clamp(rem(10), 2vw, rem(30));
        gap: rem(64);
        .SocialListItem {
          .SocialListItemLink {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: rem(64);
            height: rem(62);

            .LinkBg {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: auto;
            }

            .LinkIcon {
              z-index: 1;
              color: var(--color-white);
            }
          }
          transition: 0.4s ease all;
          &:hover {
            filter: drop-shadow(
              0 0 1.1111111111rem rgba(4, 195, 255, 0.8980392157)
            );
          }
        }
      }
    }
  }
}
