@import '@/assets/styles/mixins';

.RaidPage {
    section {
        padding-block: rem(40);
    }

    * + .List {
        margin-block-start: rem(32);
    }

    .List {
        display: flex;
        flex-direction: column;
        gap: rem(24);
        counter-reset: item;
        .ListItem {
            position: relative;
            padding-inline-start: rem(24);
            &:before { 
                content: counters(item, ".") " "; 
                counter-increment: item;
                position: absolute;
                inset-inline-start: 0;
            }

            ul {
                li { position: relative;
                    padding-inline-start: rem(24);
                    ul {
                        li { position: relative;
                            padding-inline-start: rem(32);
                        }
                    }
                }
            }
        }


        * + .List {
            margin-block-start: rem(8);
        }

      
        h5 {
            font-size: rem(24);
            margin-block-end: rem(4);
        }
    }
}