@import '@/assets/styles/mixins';

.RaidPage {
    section {
        padding-block: rem(40);
    }
    .List {
        display: flex;
        flex-direction: column;
        gap: rem(24);
        counter-reset: item;
        .ListItem {
            &:before { 
                content: counters(item, ".") " "; 
                counter-increment: item;
                position: absolute;
            }
        }


        * + .List {
            margin-block-start: rem(8);
        }

        h5 {
            padding-inline-start: rem(32);
            font-size: rem(24);
            margin-block-end: rem(4);
        }
    }
}