@import '@/assets/styles/mixins';

.Brand {
	display: inline-flex;
	align-items: center;
	width: rem(178);
	height: rem(81);
	gap: rem(7);

	&__icon {
		flex-shrink: 0;
		width: 66px;
	}
	&__slogan {
		font-family: var(--font-family-heading);
		font-weight: 500;
		font-size: rem(35);
		// text-transform: uppercase;
		color: var(--color-white);
		text-shadow: 0 0 rem(20) #04C3FFE5;
	}
}
