@import '@/assets/styles/mixins';

.Top {
	padding-block-start: rem(130);
	padding-block-end: rem(32);

	:global(.container) {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: rem(40);
	}

	.Brand {
		margin-block: auto;
	}

	.Navigate {
		width: 100%;
		ul {
			width: 100%;
			justify-content: center;
		}
	}
}