@import '@/assets/styles/mixins';

.RaidContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 100vw;
  .Header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;

    + * {
      padding-block-start: rem(100);
    }
  }

  &:global(.isHydra) {
    background: fixed
      image-set('src/assets/images/hydra/bg.jpg' type('image/jpg')) no-repeat
      top center / cover;
  }
}
