@import '_normalize';
@import '_fonts.scss';
@import '_mixins.scss';
// @import '../../../node_modules/react-toastify/scss/main.scss';
// @import '../../../node_modules/swiper/swiper.scss';
// @import '../../../node_modules/swiper/modules/parallax.scss';
// @import '../../../node_modules/swiper/modules/autoplay.scss';
// @import '../../../node_modules/swiper/modules/effect-coverflow.scss';
// @import '../../../node_modules/swiper/modules/pagination.scss';

:root {
  // --font-family-heading: 'Andromedaeclipsis', sans-serif;
  --font-family-heading: 'Alumni Sans Pinstripe', sans-serif;
  --font-family-main: 'Alumni Sans Pinstripe', sans-serif;
  --font-size: 18px;

  --color-white: #fff;
  --color-black: #000;
  --color-blue-light: #b9f2ff;
  --color-cyan: #87E9FF;
  --color-black-rgb: 0, 0, 0;
  --color-cyan-rgb: 135, 233, 255;
  --color-grey: #d9d9d9;
}

* {
  box-sizing: border-box;

  &::selection {
    background: transparent;
    color: var(--color-cyan);
  }
  @media (min-width: 1024px) {
    scrollbar-color: rgba(var(--color-cyan-rgb), 0.5) transparent;
    scrollbar-width: thin;
    
    &::-webkit-scrollbar {
      width: 6px;
      background-color: var(--color-black);
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-black);
      border-radius: 4px;
      box-shadow: none;
      opacity: 1;
      &:hover {
        background-color: var(--color-blue-light);
        opacity: 1;
      }
      &:active {
        opacity: 1;
        background-color: var(--color-blue-light);
      }
      &:focus {
        opacity: 1;
        background-color: var(--color-blue);
      }
    }
  }
}

:root {
  font-family: var(--font-family-main);
  line-height: rem(27);
  font-size: var(--font-size);
  font-weight: 300;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  max-width: 100vw;
  color: var(--color-white);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: #07070a;
  overflow-x: hidden;
}

body:has(.isMenuOpen) {
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(var(--color-cyan-rgb), 0.2);
  }
}


.container {
  padding-left: clamp(rem(10), 2vw, rem(30));
  padding-right: clamp(rem(10), 2vw, rem(30));
  max-width: rem(1280);
  margin-left: auto;
  margin-right: auto;
  &--game {
    max-width: 90vw;
  }
}

.main-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}


.swiper {
  width: 100%;
  .swiper-pagination {
    width: initial;
    right: 0;
    left: initial;
    bottom: rem(-6);
  }
  .swiper-pagination-bullet {
    width: rem(32);
    height: rem(3);
    border-radius: initial;
    background: rgb(217, 217, 217, 0.2);
    transition: 0.4s ease all;
    &.swiper-pagination-bullet-active {
      background: var(--color-blue-light);
    }
  }

  .swiper-wrapper {
    will-change: transform;
    transform-style: preserve-3d;
  }

}

h1,
h2,
.h1,
.h2,
[variant='h1'],
[variant='h2'] {
  text-align: center;
  font-family: var(--font-family-heading);
  font-weight: 500;
  font-size: rem(96);
  line-height: rem(73);
  letter-spacing: -0.07em;
  text-transform: uppercase;
  text-shadow: 0 0 rem(20) #04c3ffe5;
}
h3,
.h3 {
  text-align: center;
  font-family: var(--font-family-heading);
  font-weight: medium;
  font-size: rem(64);
  line-height: rem(49);
  text-transform: uppercase;
  text-shadow: 0 0 rem(20) #04c3ffe5;
}

h4,
.h4 {
  text-align: center;
  font-family: var(--font-family-main);

  font-weight: 400;
  font-size: rem(48);
  line-height: 150%;
  letter-spacing: 0.05em;
  color: var(--color-blue-light);
}

p,
.p,
[variant='body'] {
  text-wrap: wrap;
  line-height: 150%;
  letter-spacing: 0.05em;
}

.subtitle {
  position: relative;
  display: inline-flex;
  line-height: rem(22.5);
  padding: rem(3) rem(17) rem(2) rem(10);
  background-color: rgba(0, 194, 255, 0.5);
  clip-path: polygon(
    0% 0%,
    calc(100% - 20px) 0%,
    100% 20px,
    100% 100%,
    0% 100%
  );
}

button {
  cursor: pointer;
  &[disabled] {
    cursor: not-allowed;
  }
}

@media screen and (max-width: rem(447)) {
  h1,
  h2,
  .h1,
  .h2,
  [variant='h1'],
  [variant='h2'] {
    font-size: rem(80);
  }

  .container {
    padding-left: rem(16);
    padding-right: rem(16);
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  label {
    font-size: rem(15);
    line-height: 1.2;
    margin-block-end: rem(6);
  }

  .range{
    input[type='range'] {
      border: initial;
    }
  }
  .range  + * {
    margin-block-start: rem(4);
    font-size: rem(12);
    color: #f00250;
  }
}

input {
  width: 100%;
  height: clamp(rem(40), 3vw, rem(50));

  border: 1px solid;
  font-size: rem(16);
  font-weight: 600;
  outline: none;
  padding-inline-start: rem(20);
  padding-inline-end: rem(18);

  background: linear-gradient(180deg, #141b2f 0%, #05080e 100%);
  border: 1px solid rgba(4, 195, 255, 0.9);
  color: var(--color-white);
  transition: 0.4s ease all;
  &::placeholder {
    color: var(--color-grey);
  }
  &:focus {
    border-color: var(--color-cyan);
  }

  + * {
    margin-block-start: rem(4);
    font-size: rem(12);
    color: #f00250;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  svg {
    width: 100%;
    height: 100%;
  }
  &.loading {
    svg {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      pointer-events: none;
      animation: animateDash 10s linear forwards infinite;
    }
  }
}

$table-border-color: #ddd;

table {
  width: 100%;
  max-width: rem(700);
  border-collapse: collapse;
  margin: 20px auto;
  letter-spacing: 1.1px;

  th,
  td {
    padding: 8px 10px;
    border: 1px solid $table-border-color;
    text-align: left;
  }

  thead {
    // background-color: $table-header-bg;

    th {
      cursor: pointer;
      user-select: none;
      font-weight: 700;


      &:hover {
        // background-color: $table-header-hover-bg;
      }
    }
  }

  tbody {
    tr {
      &:nth-of-type(even) {
        // background-color: $table-row-hover-bg;
      }

      &:hover {
        // background-color: lighten($table-row-hover-bg, 5%);
      }
    }
  }

  .sort-icon {
    margin-left: 5px;
  }
}